---
import BaseHead from "../components/page_sections/BaseHead.astro";
import Header from "../components/page_sections/Header.astro";
import Footer from "../components/page_sections/Footer.astro";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} - About Me`}
      description="About me section of the website"
    />
  </head>

  <body>
    <Header title={SITE_TITLE} />

    <main>
      <h1>Hi! Name's Stan.</h1>
      <p>Not so long ago I was a student studying <i>CS</i>, not literal but an equivalent.</p>

      <h2><u>Software developer</u> by day and <u>CySec</u> guy by night</h2>
      <p>Or gamer by night, both are hobbies.</p>

      <h2>I'm familiar with</h2>
      <ul>
        <li>
          <details>
            <summary>Windows/Unix based</summary>

            <p>
              By doing blue team challenges (and CTFs) had made me aware of the
              OS at hand, how they work and how to administrate them.
            </p>

            <p>
              But I'd still panick first and then hunt the intruder if I'd do a
              SysAdmin's job.
            </p>
          </details>
        </li>

        <li>
          <details>
            <summary>Terminals</summary>

            <p>
              Most of my time gets spent in ZSH/Bash and I'm feeling comfortable
              with making scripts.
            </p>
            <p>
              At best I'm making a minuscule script for each project to quickly
              deploy them, but I'm definitely not comfortable with the pwsh
              syntax. Its similarity with bash is what gives me confidence to
              just use it.
            </p>
          </details>
        </li>

        <li>
          <details>
            <summary>Some No/SQL Databases</summary>

            <p>Such as:</p>
            <ul>
              <li>SQLite</li>
              <li>PostgreSQL</li>
              <li>MariaDB/MySql</li>
              <li>MongoDB</li>
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary>These programs</summary>

            <p>When debugging programs</p>
            <ul>
              <li>Radare2</li>
              <li>Wireshark</li>
            </ul>

            <p>When developing</p>
            <ul>
              <li>Most, if not all, IDEs by Jetbrains</li>
              <li>Visual Studio</li>
              <li>Visual Studio Cod(e|ium)</li>
              <li>Docker</li>
              <li>Git</li>
              <li>GitHub</li>
              <li>GitKraken</li>
            </ul>

            <p>In general</p>
            <ul>
              <li>VMWare</li>
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary>These languages</summary>

            <ul>
              <li>C#</li>
              <li>Python</li>
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary>Keyboard Shortcuts</summary>

            <p>
              No, really. I enjoy using the mouse in FPS games, but it's
              incredibly slow when interacting with apps or the operating systems
            </p>
          </details>
        </li>
      </ul>

      <h2>I do love these, but I can't do much with these</h2>
      <ul>
        <li>
          <details>
            <summary>Databases</summary>

            <ul>
              <li>Neo4j</li>
              <li></li>
              <li></li>
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary>Languages</summary>

            <ul>
              <li>Rust</li>
              <li>ASM x64</li>
              <li>Haskell</li>
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary>Programs</summary>

            <ul>
              <li>WinDbg/ImmunityDebugger</li>
              <li>SysTools</li>
              <li>PwnTools lib</li>
              <li>Angr</li>
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary>Web Frameworks</summary>

            <p>
              There are so many frameworks, can't decide which and when to use
              any of these. They all have a nice selling idea.
            </p>
            <ul>
              <li>Svelte/Kit</li>
              <li>Next.js</li>
              <li>Alpine.js</li>
              <li>Lit</li>
              <li>Qwik</li>
              <li>Astro</li>
              <li></li>
            </ul>
          </details>
        </li>
      </ul>

      <h2>
        I'm not a designer! I can manage something, 80% it might end horribly
      </h2>
      <ul>
        <li>CSS</li>
        <li>UI/UX</li>
      </ul>

      <Footer />
    </main>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
