---
import type { HTMLAttributes } from "astro/types";
import { URL_PREFIX } from "../consts";

type Props = HTMLAttributes<"a">;

let { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");

href ??= "";

const stringHref = href.toString();
if (!stringHref.match(/^.*:\/\//)) {
  href = stringHref.startsWith("/") ? href : "/" + href;
  href = stringHref.startsWith(URL_PREFIX) ? href : URL_PREFIX + href;
}
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style lang="scss">
  a {
    text-decoration: none;
  }
</style>
