---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/page_sections/BaseHead.astro";
import Header from "../components/page_sections/Header.astro";
import Footer from "../components/page_sections/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title ?? ""} description={description ?? ""} />
  </head>

  <body>
    <Header />

    <main>
      <article>
        <slot />
      </article>

    </main>

    <Footer />
  </body>
</html>
