---
import Linkable from "../Linkable.astro";
import NavButton from "../NavButton.astro";
import ThemeSwitcher from "../ThemeSwitcher.svelte";
---

<header>
  <nav>
    <div class="home-icon">
      <Linkable>
        <ion-icon id="planet-icon" name="planet-outline" aria-label="Home"></ion-icon>
      </Linkable>
    </div>

    <div class="lower-side">
      <NavButton href="/blog">Blog</NavButton>
      <NavButton href="/about">About me</NavButton>

      <ThemeSwitcher client:only />
    </div>
  </nav>
</header>

<style lang="scss">
  header,
  nav,
  .lower-side,
  .home-icon {
    display: flex;
  }

  header {
    justify-content: center;
    align-items: center;

    &,
    nav {
      width: 30%;
    }
  }

  nav {
    gap: 7vh;
    text-align: center;
    justify-content: space-between;

    &,
    .lower-side {
      flex-direction: column;
    }
  }

  .lower-side {
    gap: 0.85rem;
    height: 100%;
  }

  .home-icon {
    justify-content: center;
  }

  #planet-icon {
    color: slateblue;
  }

  ion-icon {
    font-size: 64px;
  }
</style>
